<% if @menus.empty? %>
  <div class="noData title">No menus uploaded</div>
  <% if current_user.is_admin? %>
    <div class="noData"><%= link_to "Add Menu", new_menu_path, title: "Add Menu" %></div>
  <% else %>
    <div class="noData subtitle">Please inform the administrator to create a menu</div>
   <% end %>
<% else %>
  <h2>Menus</h2>
  <div class="actionBar">
    <a class="pointer" href="<%= new_menu_path %>"><span class="glyphicon glyphicon-plus"></span>Add New Menu</a>
  </div>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Day</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.for_day %></td>
        <td><%= menu.name %></td>
        <td><%= menu.description %></td>
        <td class="actions">
          <% if current_user.is_admin? %>
            <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-pencil"),
                        menu_items_path(menu),
                        title: "Edit Menu"
            %>
            <%= link_to content_tag(:span, "", class: "glyphicon glyphicon glyphicon-cloud-upload"),
                        publish_menu_path(menu),
                        title: "Publish Menu",
                        class: "publishMenu#{menu.published? ? " hidden" : ""}",
                        data: {"do-ajax" => true, "event-name" => "success"}
            %>
            <%= link_to content_tag(:span, "", class: "glyphicon glyphicon glyphicon-cloud-download"),
                        unpublish_menu_path(menu),
                        title: "Unpublish Menu",
                        class: "unpublishMenu#{menu.unpublished? ? " hidden" : ""}",
                        data: {"do-ajax" => true, "event-name" => "success"}
            %>
            <%= link_to content_tag(:span, "", class: "glyphicon glyphicon glyphicon-remove"),
                        menu_path(menu),
                        title: "Delete Menu",
                        class: "deleteMenu",
                        remote: true,
                        method: :delete,
                        data: {confirm: 'Are you sure you want to delete menu?'}
            %>
          <% end %>
          <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-cutlery"),
                      new_menu_order_path(menu),
                      title: "Order"
          %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @menus %>
<% end %>

<% content_for :endjs do %>
  <script type="text/javascript">
    $(document).ready(function () {
      snacks_app.menus(<%= raw({:controller => params[:controller], :action => params[:action]}.to_json) %>);
    });
  </script>
<% end %>