<% if @menus.empty? %>
  <div class="noData title">No menus uploaded</div>
  <% if current_user.is_admin? %>
    <div class="noData"><%= link_to "Add Menu", new_menu_path, title: "Add Menu" %></div>
  <% else %>
    <div class="noData subtitle">Please inform the administrator to create a menu</div>
  <% end %>
<% else %>
  <h2><span class="glyphicon glyphicon-cutlery"></span> Menus</h2>
  <% if current_user.is_admin? %>
    <div class="actionBar">
      <a class="pointer" href="<%= new_menu_path %>"><span class="glyphicon glyphicon-plus"></span>Add New Menu</a>
    </div>
  <% end %>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Day</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= unparse_date(menu.for_day) %></td>
        <td><%= menu.name %></td>
        <td><%= menu.description %></td>
        <td class="actions">
          <% if current_user.is_admin? %>
            <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-pencil"),
                        edit_menu_path(menu),
                        title: "Edit Menu",
                        class: "editMenu#{menu.unpublished? ? "" : " hidden"}"
            %>
            <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-cloud-upload"),
                        publish_menu_path(menu),
                        title: "Publish Menu",
                        class: "publishMenu#{menu.unpublished? ? "" : " hidden"}",
                        data: {"do-ajax" => true, "event-name" => "success"}
            %>
            <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-cloud-download"),
                        unpublish_menu_path(menu),
                        title: "Unpublish Menu",
                        class: "unpublishMenu#{menu.published? || menu.orders_allowed? ? "" : " hidden"}",
                        data: {"do-ajax" => true, "event-name" => "success"}
            %>

            <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-ice-lolly"),
                        orders_allowed_menu_path(menu),
                        title: "Allow Ordering",
                        class: "allowOrdering#{menu.published? ? "" : " hidden"}",
                        data: {"do-ajax" => true, "event-name" => "success"}
            %>

            <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-align-left"),
                        menu_orders_path(menu),
                        title: "View Orders",
                        class: "viewOrders#{menu.orders_allowed? || menu.orders_completed? ? "" : " hidden"}"
            %>

            <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-ice-lolly-tasted"),
                        orders_completed_menu_path(menu),
                        title: "Close Orders",
                        class: "completeOrder#{menu.orders_allowed? ? "" : " hidden"}",
                        data: {"do-ajax" => true, "event-name" => "success"}
            %>
          <% end %>
          <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-cutlery"),
                      menu_path(menu),
                      class: "toOrder#{menu.orders_allowed? ? "" : " hidden"}",
                      title: "Order"
          %>
          <% if current_user.is_admin? %>
            <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-copy"),
                        new_menu_path(copy_menu_id: menu.id),
                        title: "Copy Menu",
                        class: "copyMenu"
            %>
            <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-remove"),
                        menu_path(menu),
                        title: "Delete Menu",
                        class: "deleteMenu#{menu.unpublished? ? "" : " hidden"}",
                        remote: true,
                        method: :delete,
                        data: {confirm: 'Are you sure you want to delete menu?'}
            %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @menus %>
<% end %>

<% content_for :endjs do %>
  <script type="text/javascript">
    $(document).ready(function () {
      snacks_app.menus(<%= raw({:controller => params[:controller], :action => params[:action]}.to_json) %>);
    });
  </script>
<% end %>